<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
</head>
<body>
    <h2>{{ page.date | date: "%b %-d, %Y" }}</h2>

    {% assign parts = content | split: '!!!!!' %}
    <div class="content">
        <div class="links">
            <a href="{{ page.source }}" target="_blank">News source</a>
            <a href="{{ page.url | prepend: site.baseurl }}" target="_blank">Article link</a>
        </div>
        <div class="container">
            <div class="original">
                {{ parts[0] }}
            </div>
            <div class="translation">
                {{ parts[1] }}
            </div>
        </div>
        <div class="notes">
            {{ parts[2] }}
        </div>
    </div>
</body>
</html>